<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--<add name="Hr" connectionString="Data Source=(local)\Econs;Initial Catalog=Personal;User ID=sa;Password=1234%asd; Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <add name="Hr" connectionString="Data Source=(local); Initial Catalog=Hr; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>